@model IEnumerable<WebMVC_App.Models.Products>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <div>
        Name: 
        <span> @item.Name</span>
        <br />
        Price: 
        <span> @item.Price</span>
        <br />
        Category: 
        <span> @item.Category</span>
    </div>
    <br />
}